extends layout.pug

block Content
  .home-container 
    p.desc By this app, you can take a note, update it, or delete whenever it is not needed anymore. This app serves for your daily needs for taking note by its simple interface and easy to use feasibility.
    
    p
      a.new-note(href=`/home`) Add Note

