doctype html
html(lang='en')
  head
    title Note-Taking-App
    link(rel='stylesheet', href='/static/main.css')
  body
    div.container
      h1.logo This is a simple Note-Taking App


      block Content