doctype html
html(lang='en')
  head
    title Note-Taking-App
    link(rel='stylesheet', href='/static/main.css')
  body
    h1 This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
    div.container
      h1.logo This is a simple Note-Taking App


      block Content